### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*


### Java ###
*.class

# Mobile Tools for Java (J2ME)
# Package Files #
*.jar
*.war
*.ear

# word #
*.docx

### jacocoverage tool
.jacocoverage/
/ErrorhandlingDemo/nbproject/private/
/ExceptionDemo/nbproject/private/
/SendMail/nbproject/private/
/w2-forms/nbproject/private/